.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.logo {
  width: 100%;
  max-width: 15rem;
}

.content {
  width: 100%;
  max-width: 35rem;
  margin: auto;
  padding: 1rem;
}

.desc {
  line-height: 2rem;
}

.title {
  line-height: 3rem;
  font-size: 1.3rem;
}

.lottie {
  max-width: 5rem;
}

@media only screen and (min-width: 500px) {
  .title {
    flex-direction: row;
  }
}
