@import url('./IRANYekan/fontiran.css');

:root {
  --clr-light-1: rgb(219, 219, 219);
  --clr-dark-1: rgb(22, 22, 22);
  --clr-danger-1: rgb(230, 18, 18);
  --clr-active-1: #0066ff;
  --clr-active-2: #0256d4;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: IRANYekanXFaNum !important;
  color: var(--clr-dark);
}

main {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

button,
textarea,
input {
  font: inherit;
  background: transparent;
  border: none;
  outline: none;
}

/* remove arrow/spinners from number input*/
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* remove animations for people who've turned them off */
@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
